body
{
	background-color: #d3d3d3;
	text-align: center;
	font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif
}

ul
{
	list-style-type: none;
}

h1
{
	color: red;
}